@import url(reset.css);

* {
  box-sizing: border-box;
}

body {
  /* font-size: 30px; */
  font-family: Arial;
  /* background-color: #ffe893; */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.line {
  display: block;
  width: 1000px;
  border: 0.5px solid white;
  margin: 30px auto;
  background-color: #ffe893;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .line {
    width: 800px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .line {
    width: 700px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .line {
    width: 500px;
  }
}

@media screen and (max-width: 575px) {
  .line {
    width: 400px;
  }
}
/* top */

.top {
  /* width: 1200px; */
  height: 200px;
  background-image: url(../img/ABOUTUS/Aboutus-new.jpg);
  opacity: 0.8;
}

.top h1 {
  color: white;
  text-align: center;
  line-height: 200px;
  font-size: 25px;
}

/* TOP RWD BLOCK */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .top {
    width: 972px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .top {
    width: 748px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .top {
    width: 556px;
  }
}

@media screen and (max-width: 575px) {
  .top {
    width: 481px;
  }
}

/* 服務態度 */

.out {
  background-color: #ffe893;
}

.att {
  display: flex;
  justify-content: center;
}

.att-left {
  width: 600px;
  /* border: 1px solid red; */
}

.att-left img {
  margin-top: 60px;
  width: 70%;
  padding-left: 30px;
}

.att-right {
  width: 600px;
  color: black;
  margin-top: 60px;
}

.att-right h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}
.att-right p {
  width: 550px;
  line-height: 1.2;
  font-size: 22px;
  padding-left: 15px;
  padding-top: 15px;
}

/* milk */

.milk {
  display: flex;
  justify-content: center;
}

.milk-left {
  width: 600px;
  order: 2;
}

.milk-left img {
  margin-top: 30px;
  width: 60%;
  margin-left: 100px;
  border-radius: 50%;
}

.milk-right {
  width: 600px;
  color: black;
  margin-top: 60px;
}

.milk-right h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  padding-left: 30px;
}
.milk-right p {
  width: 550px;
  font-size: 22px;
  line-height: 1.2;
  padding-left: 30px;
  padding-top: 15px;
}

/* leaf */

.leaf {
  display: flex;
  justify-content: center;
}

.leaf-left {
  width: 600px;
  /* border: 1px solid red; */
}

.leaf-left img {
  margin-top: 60px;
  width: 70%;
  padding-left: 30px;
  /* border-radius: 65% */
}

.leaf-right {
  width: 600px;
  color: black;
  margin-top: 60px;
}

.leaf-right h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}
.leaf-right p {
  width: 550px;
  font-size: 22px;
  line-height: 1.2;
  padding-left: 15px;
  padding-top: 15px;
}

/* Brownsugar */

.Brownsugar {
  display: flex;
  justify-content: center;
}

.Brownsugar-left {
  width: 600px;
  order: 2;
}

.Brownsugar-left img {
  margin-top: 30px;
  width: 60%;
  margin-left: 100px;
  border-radius: 50%;
}

.Brownsugar-right {
  width: 600px;
  color: black;
  margin-top: 60px;
  margin-bottom: 60px;
}

.Brownsugar-right h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  padding-left: 30px;
}
.Brownsugar-right p {
  width: 550px;
  font-size: 22px;
  line-height: 1.2;
  padding-left: 30px;
  padding-top: 15px;
}

/* RWD Block */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .out {
    width: 972px;
  }
  /* 態度 & 茶葉 RWD */
  .att,
  .leaf {
    width: 972px;
    /* border: 1px solid green; */
  }

  .att-left,
  .leaf-left {
    width: 300px;
    /* border: 1px solid purple; */
  }

  .att-left img,
  .leaf-left img {
    width: 300px !important;
  }
  /* milk & Brownsugar*/
  .milk,
  .Brownsugar {
    width: 972px;
    /* border: 1px solid green; */
  }

  .milk-left,
  .Brownsugar-left {
    width: 300px;
    /* border: 1px solid purple; */
  }

  .milk-left img,
  .Brownsugar-left img {
    width: 280px !important;
    margin-left: 10px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .out {
    width: 748px;
  }
  /* 態度 & 茶葉 RWD */
  .att,
  .leaf {
    width: 748px;
    /* border: 1px solid green; */
  }
  .att-left,
  .leaf-left {
    width: 300px;
    /* border: 1px solid red; */
  }
  .att-left img,
  .leaf-left img {
    width: 280px !important;
  }
  .att-right,
  .leaf-right {
    width: 468px !important;
    /* border: 1px solid; */
  }

  .att-right h1,
  .leaf-right h1 {
    font-size: 30px !important;
  }

  .att-right p,
  .leaf-right p {
    width: 450px !important;
  }

  /* milk & Brownsugar */
  .milk,
  .Brownsugar {
    width: 748px;
    /* border: 1px solid green; */
  }
  .milk-left,
  .Brownsugar-left {
    width: 300px;
    /* border: 1px solid red; */
  }
  .milk-left img,
  .Brownsugar-left img {
    width: 280px !important;
    margin-left: 10px !important;
    margin-top: 50px !important;
  }
  .milk-right,
  .Brownsugar-right {
    width: 468px !important;
    /* border: 1px solid; */
  }

  .milk-right h1,
  .Brownsugar-right h1 {
    font-size: 30px !important;
  }

  .milk-right p,
  .Brownsugar-right p {
    width: 450px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .out {
    width: 556px;
  }
  /* 態度 & 茶葉 RWD */
  .att,
  .leaf {
    width: 556px;
    flex-wrap: wrap;
  }
  .att-right h1,
  .leaf-right h1 {
    text-align: center;
  }
  .att-left img,
  .leaf-left img {
    width: 350px !important;
    /* border: 1px solid; */
    margin-left: 100px;
  }

  /* milk & Brownsugar */
  .milk,
  .Brownsugar {
    width: 556px;
    flex-wrap: wrap-reverse;
  }
  .milk-right h1,
  .Brownsugar-right h1 {
    text-align: center;
  }
  .milk-left img,
  .Brownsugar-left img {
    width: 350px !important;
    /* border: 1px solid; */
    margin-left: 100px;
  }
}

@media screen and (max-width: 575px) {
  .out {
    width: 481px;
  }
  /* 態度 & 茶葉 RWD */
  .att,
  .leaf {
    width: 481px;
    flex-wrap: wrap-reverse;
  }

  .att-right h1,
  .leaf-right h1 {
    width: 480px;
    font-size: 30px !important;
    /* border: 1px solid; */
    text-align: center;
  }

  .att-right p,
  .leaf-right p {
    width: 470px !important;
    /* border: 1px solid; */
  }

  .att-left img,
  .leaf-left img {
    margin-left: 60px;
  }

  /* milk & Brownsugar */
  .milk,
  .Brownsugar {
    width: 481px;
    flex-wrap: wrap;
  }

  .milk-right h1,
  .Brownsugar-right h1 {
    width: 480px;
    font-size: 30px !important;
    /* border: 1px solid; */
    text-align: center;
  }

  .milk-right p,
  .Brownsugar-right p {
    width: 470px !important;
    /* border: 1px solid; */
  }

  .milk-left img,
  .Brownsugar-left img {
    margin-left: 110px;
    margin-bottom: 30px;
  }
}
