@import url(reset.css);

* {
  box-sizing: border-box;
}

body {
  /* font-size: 30px; */
  font-family: Arial;
  /* background-color: #ffe893; */
  width: 1200px;
  margin: 0 auto;
}

.top {
  height: 150px;
  background-image: url(../img/CONTACTUS/CONTACTUS.jpg);
  opacity: 0.7;
  background-position: center center;
}

.top h1 {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 18px;
}

.tab ul {
  display: flex;
  justify-content: space-between;
}

.tab li {
  width: 600px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

.tab1 {
  background-color: #ffe893;
}

.tab2 {
  background-color: #666666;
}
.tab2 a {
  text-decoration: none;
  color: gray;
}
.tab2 a:hover {
  color: #ffe893;
  transition-duration: 1s;
}

ul#contact-form {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  background-color: #ffe893;
}

ul#contact-form li {
  display: flex;
  margin: 10px 0;
  flex: 0 0 50%;
  padding: 0;
}

ul#contact-form li:nth-of-type(2n) label {
  padding-left: 20px;
}

ul#contact-form li.li-full {
  flex: 0 0 100%;
}

ul#contact-form li.li-full label {
  padding-left: 0px;
  align-items: flex-start;
}

ul#contact-form li label {
  padding-right: 17px;
  display: flex;
  font-weight: bold;
  flex: 0 0 120px;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
}

ul#contact-form li label i {
  color: #ee5849;
  font-size: 15px;
}

ul#contact-form li .input-text,
ul#contact-form li .input-textarea,
ul#contact-form li select {
  flex: 1;
  border: 1px solid #e3e3e3;
  background: #fff;
  padding: 12px 10px;
  border-radius: 4px;
  height: 45px;
  font-size: 16px;
  width: 100%;
}
ul#contact-form li .input-textarea {
  height: auto;
}
