/* ----- Footer ----- */

.footer {
  background-color: #7a554a;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* RWD ST */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .footer {
    width: 992px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    width: 768px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .footer {
    width: 576px;
    flex-wrap: wrap;
  }
  .footer-icon ul {
    margin-right: 230px !important;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    width: 500px;
    flex-wrap: wrap;
  }
  .footer-text li {
    text-align: center;
  }
}

/* RWD END */

.footer-text {
  color: white;
}

.footer-text ul {
  /* border: 1px solid yellow; */
}
.footer-text li {
  font-size: 20px;
  margin-bottom: 5px;
}

.footer-text a {
  text-decoration: none;
  color: white;
}

.footer-icon ul {
  display: flex;
}

.footer-icon li {
  margin-right: 10px;
}
.footer-icon li a {
  color: white;
}

.navv ul {
  display: flex;
  width: 450px;
  justify-content: space-between;
  margin-top: 10px;
}

.navv a {
  text-decoration: none;
}

.navv a:hover,
.footer-icon li a:hover,
.footer-text a:hover {
  color: #ffe893;
  transition-duration: 1s;
}
