@import url(reset.css);

* {
  box-sizing: border-box;
}

body {
  /* font-size: 30px; */
  font-family: Arial;
  /* background-color: #ffe893; */
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    width: 960px;
    /* border: 5px solid black; */
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 720px;
    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .wrapper {
    width: 540px;
    /* border: 5px solid orange; */
  }
}
@media screen and (max-width: 575px) {
  .wrapper {
    width: 100%;
    /* border: 5px solid red; */
  }
}

/*---------------- TOP NEWS ------------------- */
.big-news {
  color: white;
  margin-bottom: 20px;
  display: flex;
  background-color: #ffe893;
  align-items: flex-start;
  flex-wrap: wrap;
}
.big-left {
  width: 600px;
}
.big-left h2 {
  font-size: 36px;
  color: #9f915c;

  padding-left: 50px;
  padding-top: 40px;
}
.big-left h2 + h2 {
  color: red;
  padding-left: 80px;
  padding-top: 10px;
}

.big-left h3 {
  padding-left: 220px;
  margin-bottom: 30px;
  font-size: 20px;
}

.big-left h1 a {
  font-size: 35px;
  margin-top: 100px;
  margin-left: 100px;
  display: block;
  margin: auto;
  margin-top: 150px;
  text-align: center;
  text-decoration: none;
}
.big-left h1 a:hover {
  color: black;
}
.seemore {
  display: block;
  width: 250px;
  height: 50px;
  background-color: yellow;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
  margin: auto;
  margin-top: 30px;
}

.seemore:hover {
  background-color: #9f915c;
  transition-duration: 1s;
}

.big-right {
  /* border: 1px solid green; */
  width: 600px;
}

.big-right img {
  width: 100%;
  display: block;
  margin: auto;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .big-news {
    flex-wrap: nowrap;
  }
  .big-left h1 a {
    margin-top: 90px;
  }
  .seemore {
    margin-top: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .big-left {
    width: 360px;

    /* border: 1px solid red; */
  }

  .big-left h3 {
    padding-left: 240px;
  }

  .big-left h1 a {
    margin-top: 0;
    font-size: 30px;
  }

  .seemore {
    margin-top: 80px;
  }
  .big-right {
    width: 360px;

    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .big-left {
    width: 540px;
  }

  .big-left h3 {
    padding-left: 230px;
    /* border: 1px solid red; */
  }

  .big-left h1 a {
    margin-top: 0;
    /* font-size: 30px; */
  }
  .seemore {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 575px) {
  .big-left h1 a {
    margin-top: 0;
  }

  .seemore {
    margin-bottom: 20px;
    width: 60%;
  }

  .big-left {
    width: 100%;
  }
}

/*------- down news  -------*/
.down-news {
  /* background-color: red; */
  /* border: 2px solid green; */
}

.down-news img {
  width: 100%;
}
.down-news ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  background-color: #ffe893;
}

.down-news li {
  width: 280px;
  margin: 10px 10px 10px 10px;
  position: relative;
}

.down-news a {
  display: block;
  width: 110px;
  font-size: 20px;
  background-color: yellow;
  text-align: center;
  text-decoration: none;
}

.down-news a:hover {
  background-color: tomato;
  transition-duration: 1s;
}

.down-news h2 {
  color: white;
  font-size: 20px;
}
.news1 a {
  position: absolute;
  right: 0px;
  bottom: 12px;
}

.news2 a {
  position: absolute;
  right: 0px;
  bottom: 12px;
}

.news3 a {
  position: absolute;
  right: 0px;
  bottom: 12px;
}

.news4 a {
  position: absolute;
  right: 0px;
  bottom: 12px;
}

.news5 a {
  position: absolute;
  right: 0px;
  bottom: 12px;
}

.news6 a {
  position: absolute;
  right: 0px;
  bottom: 12px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .down-news ul {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .down-news ul {
    justify-content: space-between;
  }

  .down-news li {
    width: 330px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .down-news ul {
    justify-content: space-around;
  }

  .down-news li {
    width: 500px;
  }
}

@media screen and (max-width: 575px) {
  .down-news ul {
    justify-content: space-around;
  }

  .down-news li {
    width: 100%;
  }
}
