@import url(reset.css);

* {
  box-sizing: border-box;
}

body {
  /* font-size: 30px; */
  font-family: Arial;
  /* background-color: #ffe893; */
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    width: 960px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 720px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .wrapper {
    width: 540px;
    /* border: 5px solid orange; */
  }
}
@media screen and (max-width: 575px) {
  .wrapper {
    width: 100%;
  }
}
img {
  max-width: 100%;
}
/*----- banner -----*/
.banner ul {
  /* width: 1200px; */
  height: 300px;
  display: flex;
}

.banner li {
  background-size: cover;
  background-position: center center;
  transition: 0.5s;
}

.item1 {
  background-image: url(../img/PRODUCT/pr-ad.jpg);
  flex-grow: 1;
}

.item2 {
  background-image: url(../img/PRODUCT/pr-ad1.jpg);
  flex-grow: 1;
}

.item3 {
  background-image: url(../img/PRODUCT/pr-ad2.jpg);
  flex-grow: 1;
}

.banner li:hover {
  flex-grow: 1.5;
}

.swiper-container {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .swiper-container {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .banner ul {
    width: 960px;
    border: 1px solid;
  }

  .item1 {
    background-position-x: -50px !important;
  }

  .item3 {
    background-position-x: -45px !important;
  }

  .swiper-container {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner ul {
    width: 720px;
    border: 1px solid red;
  }

  .item1 {
    background-position-x: -50px !important;
  }

  .item3 {
    background-position-x: -25x !important;
  }

  .swiper-container {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .banner ul {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .banner ul {
    display: none;
  }
}

/*----- 限定專區 -----*/
.lim-out {
  display: flex;
  margin: 30px 0;
}

.lim-left {
  width: 830px;
  order: 2;
  color: #ffe893;
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #cc9382;
}

.lim-left h1 {
  margin-bottom: 20px;
  font-size: 28px;
}
.lim-card-out {
  display: flex;
  align-items: center;
}

.lim-card ul {
  display: flex;
  color: white;
  margin: 40px 50px;
}

.lim-card li {
  width: 300px;
  border: 3px solid white;
  background-color: #7a554a;
  margin: 0 15px;
  padding: 20px 10px;
  font-size: 20px;
  line-height: 2;
}

.lim-card i {
  line-height: 1.6;
}

.lim-right ul {
  display: flex;
}
.lim-right li {
  width: 370px;
}
.lim-right img {
  width: 100%;
  display: block;
}

/*----- 黑糖專區 -----*/
.bs-out {
  display: flex;
  margin: 30px 0;
}

.bs-left {
  width: 830px;
  color: #ffe893;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #88684e;
}

.bs-left h1 {
  margin-bottom: 20px;
  font-size: 28px;
}
.bs-card-out {
  display: flex;
  align-items: center;
}

.bs-card ul {
  display: flex;
  color: white;
  margin: 40px 50px;
}

.bs-card li {
  width: 300px;
  border: 3px solid white;
  background-color: #d3b196;
  margin: 0 15px;
  padding: 20px 10px;
  font-size: 20px;
  line-height: 2;
}
.bs-card i {
  line-height: 1.6;
}
.bs-right ul {
  display: flex;
}
.bs-right li {
  width: 370px;
}
.bs-right img {
  width: 100%;
  display: block;
}

/*----- 奶茶專區 -----*/
.mk-out {
  display: flex;
  margin: 30px 0;
}

.mk-left {
  width: 830px;
  order: 2;
  color: #ffe893;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #687d93;
}

.mk-left h1 {
  margin-bottom: 20px;
  font-size: 28px;
}
.mk-card-out {
  display: flex;
  align-items: center;
}

.mk-card ul {
  display: flex;
  color: white;
  margin: 40px 50px;
}

.mk-card li {
  width: 300px;
  border: 3px solid white;
  background-color: #7a554a;
  margin: 0 15px;
  padding: 20px 10px;
  font-size: 20px;
  line-height: 2;
}

.mk-card i {
  line-height: 1.6;
}
.mk-right ul {
  display: flex;
}
.mk-right li {
  width: 370px;
}
.mk-right img {
  width: 100%;
  display: block;
}
