@import url(reset.css);

* {
  box-sizing: border-box;
}

body {
  /* font-size: 30px; */
  font-family: Arial;
  /* background-color: #ffe893; */
  width: 1200px;
  margin: 0 auto;
}

/* banner輪播 */

ul.slides {
  position: relative;
  width: 1200px;
  height: 350px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow: hidden;
}

li.slide {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: 0.5s transform ease-in-out;
}
/**/

.slide img {
  width: 100%;
}
.slide:nth-of-type(1) {
}

.slide:nth-of-type(2) {
  left: 100%;
}

.slide:nth-of-type(3) {
  left: 200%;
}

input[type="radio"] {
  position: relative;
  z-index: 100;
  display: none;
}

.ctrl-visible {
  position: absolute;
  width: 100%;
  bottom: 12px;
  text-align: center;
}

.ctrl-visible label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 3px;
  border: 2px solid white;
}

.slides
  input[type="radio"]:nth-of-type(1):checked
  ~ .ctrl-visible
  label:nth-of-type(1) {
  background-color: #333;
}

.slides
  input[type="radio"]:nth-of-type(2):checked
  ~ .ctrl-visible
  label:nth-of-type(2) {
  background-color: #333;
}

.slides
  input[type="radio"]:nth-of-type(3):checked
  ~ .ctrl-visible
  label:nth-of-type(3) {
  background-color: #333;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
  transform: translateX(0%);
}
.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
  transform: translateX(-100%);
}
.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
  transform: translateX(-200%);
}

/* ----- news ----- */
.news {
  color: white;
  background-color: #ffe893;
}
.news-text {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}
.news-text h1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 36px;
  padding-left: 70px;
  padding-top: 20px;
}

.news-text ul {
  padding-top: 90px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.news-text li {
  margin-bottom: 30px;
  font-size: 24px;
}

.news-text li a {
  text-decoration: none;
  color: white;
}

.news-text li a:hover {
  color: black;
  text-decoration: underline;
}

.news-text img {
  width: 600px;
  /* float: right; */
}

/* ----- food block----- */
.food {
  margin-top: 30px;
  width: 1200px;
  margin-bottom: 60px;
  /* border: 1px solid red; */
  background-color: #ffe893;
}

.food h1 {
  font-size: 36px;
  color: white;
  padding-top: 30px;
  margin-bottom: 30px;
}

.card ul {
  width: 1350px;
  height: 234px;
  overflow: hidden;
}
.food ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.food li {
  width: 350px;
}

.food img {
  width: 100%;
  z-index: 3;
  transform: scale(1);
  transition: all 1s ease 0s;
}

.food h2 {
  font-size: 45px;
  line-height: 100px;
  text-align: center;
}

.cr1 {
  /* 牛奶外圓 */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffe893;
  border: 3px solid white;
  color: white;
  position: absolute;
  left: 275px;
  top: 190px;
}
.cr2 {
  /* 茶葉外圓 */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffe893;
  border: 3px solid #10e93c;
  color: #10e93c;
  position: absolute;
  left: 675px;
  top: 190px;
}

.cr3 {
  /* 黑糖外圓 */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffe893;
  border: 3px solid #7a554a;
  color: #7a554a;
  position: absolute;
  right: 25px;
  top: 190px;
}

.food img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease 0s;
}

.zoom-in {
  width: 350px;
  height: 234px;
  overflow: hidden;
}
