@import url(reset.css);

* {
  box-sizing: border-box;
}

body {
  /* font-size: 30px; */
  font-family: Arial;
  /* background-color: #ffe893; */
  font-size: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.-none {
  display: none;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    width: 960px;
    /* border: 1px solid red; */
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 720px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .wrapper {
    width: 540px;
    /* border: 5px solid orange; */
  }
}
@media screen and (max-width: 575px) {
  .wrapper {
    width: 100%;
  }
}
/* banner輪播 */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
}

/* ----- news ----- */
.news {
  color: white;
  background-color: #ffe893;
  display: flex;
}
.news-text {
  display: flex;
  justify-content: space-between;
  width: 600px;
  /* border: 1px solid green; */
  flex-wrap: wrap;
}
.news-text h1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 36px;
  /* width: 150px; */
  padding-left: 45px;
  padding-top: 20px;
  /* border: 1px solid green; */
  flex-grow: 6;
}

.news-text ul {
  padding-top: 90px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 4;
}
.news-text li {
  margin-bottom: 30px;
  font-size: 24px;
}

.news-text li a {
  text-decoration: none;
  color: white;
}

.news-text li a:hover {
  color: black;
  text-decoration: underline;
}

.news-img {
  width: 600px;
  /* border: 1px solid red; */
}

.news-img img {
  width: 100%;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .news-text {
    width: 480px;
    /* border: 1px solid red; */
    flex-wrap: nowrap;
  }
  .news-img {
    width: 480px;
  }

  .news-img img {
    /* height: 100%; */
    /* border: 1px solid red; */
  }
  .news-text h1 {
    /* border: 1px solid green; */
    padding-left: 30px;
  }

  .news-text p {
    /* border: 1px solid green; */
    padding-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .news-text {
    width: 360px;
    /* border: 1px solid red; */
    flex-wrap: nowrap;
  }
  .news-img {
    width: 360px;
    /* border: 1px solid red; */
  }
  .news-img img {
    height: 100%;
  }

  .news-text h1 {
    /* border: 1px solid green; */
    padding-left: 25px;
  }
  .news-text p {
    /* border: 1px solid green; */
    padding-left: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .news-img {
    display: none;
  }

  .news-text {
    width: 540px;
    /* border: 1px solid red; */
  }

  .news-text h1 {
    writing-mode: horizontal-tb;
    /* border: 1px solid green; */
    text-align: center;
    padding-left: 0;
  }
  .news-text ul {
    /* border: 3px solid purple; */
    padding-top: 20px;
  }
  .news-text p {
    text-align: center;
    /* border: 1px solid green; */
  }
}

@media screen and (max-width: 575px) {
  .news-img {
    display: none;
  }

  .news-text {
    width: 100%;
  }

  .news-text h1 {
    writing-mode: horizontal-tb;
    /* border: 1px solid green; */
    text-align: center;
    padding-left: 0;
  }
  .news-text ul {
    /* border: 3px solid purple; */
    padding-top: 20px;
  }
  .news-text p {
    text-align: center;
    /* border: 1px solid green; */
  }
}

/* ----- food block----- */
.food {
  margin-top: 30px;
  margin-bottom: 30px;
  /* border: 1px solid red; */
  background-color: #ffe893;
}

.food h1 {
  font-size: 36px;
  color: white;
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 30px;

  /* border: 1px solid yellow; */
}

.food ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid green; */
}

.food li {
  position: relative;

  border: 1px solid red;
}

.food img {
  width: 100%;
  z-index: 3;
  transform: scale(1);
  transition: all 1s ease 0s;
}

.food h2 {
  font-size: 45px;
  line-height: 100px;
  text-align: center;
}

.food h3 {
  font-size: 30px;
  line-height: 45px;
}

.cr1 {
  /* 牛奶外圓 */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffe893;
  border: 3px solid white;
  color: white;
  position: absolute;

  right: 0;
  top: 0;
}
.cr2 {
  /* 茶葉外圓 */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffe893;
  border: 3px solid #10e93c;
  color: #10e93c;
  position: absolute;
  right: 0;
  top: 0;
}

.cr3 {
  /* 黑糖外圓 */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffe893;
  border: 3px solid #7a554a;
  color: #7a554a;
  position: absolute;
  right: 0;
  top: 0;
}

.food img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease 0s;
}

.zoom-in {
  width: 350px;
  /* height: 234px; */
  overflow: hidden;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .zoom-in {
    width: 300px;
  }

  /* .cr1 {
    left: 200px;
    top: 150px;
  } */

  /* .cr2 {
    left: 200px;
    top: 150px;
  }

  .cr3 {
    left: 200px;
    top: 150px;
  } */
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .food h1 {
    font-size: 35px;
  }

  .zoom-in {
    width: 230px;
  }

  /* .cr2 {
    left: 130px;
    top: 110px;
  }

  .cr3 {
    left: 130px;
    top: 110px;
  } */
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .food h1 {
    width: 400px;
    font-size: 28px;
    line-height: 1.4;
  }

  .zoom-in {
    width: 540px;
  }

  .food li {
    margin-bottom: 70px;
  }

  /* .cr2 {
    left: 440px;
    top: 315px;
  }

  .cr3 {
    left: 440px;
    top: 315px;
  } */
}

@media screen and (max-width: 575px) {
  .zoom-in {
    width: 100%;
  }

  /* .cr2 {
    left: 435px;
    top: 315px;
  }

  .cr3 {
    left: 435px;
    top: 315px;
  } */
  .food li {
    margin-bottom: 70px;
  }

  .food h1 {
    line-height: 1.6;
  }
}
